.vagrant/
vendor/
config/development.config.php
data/cache/*
data/logs/*
!data/cache/.gitkeep
phpunit.xml
.idea/modules.xml
.idea/php.xml
.idea/rui.iml
.idea/vcs.xml
.idea/workspace.xml
zendframework-ZendSkeletonModule-947ed32/
